body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('PIXEL.jpg');
    background-size: cover;
    background-attachment: fixed;
}

header {
    background-color: #1b47898c;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.sitename, .nav-link {
    color: rgb(9, 223, 184);
    text-decoration: none;
    padding: 8px 16px;
}

.nav-link.active {
    background-color: #19a87f8d;
}

.paragraph-box {
    padding: 20px;
    border: 1px solid #cccccc56;
    text-align: center;
    margin: 20px;
    color: white;
}

form {
    padding: 20px;
    border: 1px solid #8181816c;
    margin: 20px;
    color: white;
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

form input[type="text"], form input[type="email"], form input[type="submit"] {
    width: 60%;
}

footer {
    background-color: #30446671;
    color: rgba(15, 210, 213, 0.929);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
